/* Format body elements */
body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  margin: 0;
}

/* ---------------------------------------------- Header ------------------------------------------ */

/* Format header container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 5;
}

/* Format header-img */
.header-img {
  padding: 4px 10px;
}

/* Re-size logo */
#tea-cozy-logo {
  height: 50px;
}

/* Space out nav links */
nav span {
  padding: 10px;
}

/* Format a elements in header */
header a {
  color: seashell;
}

/* ---------------------------------------------- Body of Site ------------------------------------ */

/* Create main flexbox container */
.container.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 39px;
  margin: 0;
}

/* Size and format 3 container divs */
.container.mission {
  height: 700px;
  width: 1200px;
  background-image: url("../images/mission-background.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.tea-of-month {
  width: 1000px;
  text-align: center;
}

.container.locations {
  height: 500px;
  width: 1200px;
}

/* Format secondary div in tea of the month */
.container.middle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

/* Format five containers inside tea of the month */
.container.five-containers {
  margin: 10px 0;
  text-align: center;
}

/* Size five images */
.five-img {
  height: 200px;
  width: 300px;
}

/* Format captions */
.caption h4 {
  margin: 10px;
}

/* Center Locations title */
.container.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("../images/locations-background.jpg");
  margin-bottom: 0;
}

/* Remove margins from locations title */
.container.locations h2 {
  margin: 0;
}

/* Format container inside locations container */
.container.locations-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* size location boxes */
.container.location-box {
  width: 300px;
  text-align: center;
  margin: 15px 20px;
  background-color: black;
}

/* Give containers temporary borders and margins */
.container {
  /* border: solid white 1px; */
  margin: 30px;
}

/* Format Our Mission container */
.container.our-mission {
  text-align: center;
  background-color: black;
  margin: 0;
  width: 100%;
}

/* ---------------------------------------------- Footer ------------------------------------------ */
.container.contact {
  height: 200px;
  text-align: center;
  margin: 0 30px;
}

/* Format copyright */
.container.copyright {
  text-align: left;
  margin: 0;
  padding-left: 20px;
}

/* Re-sizing h5 font */
h5 {
  font-size: 16px;
}
